[submodule "ijkplayer/src/main/cpp/third_party/ffmpeg/ffmpeg"]
	path = ijkplayer/src/main/cpp/third_party/ffmpeg/ffmpeg
	url = https://gitee.com/longfeng20/third_party_binary.git
[submodule "ijkplayer/src/main/cpp/third_party/openssl"]
	path = ijkplayer/src/main/cpp/third_party/openssl
	url = https://gitee.com/longfeng20/third_party_binary.git
[submodule "ijkplayer/src/main/cpp/third_party/soundtouch"]
	path = ijkplayer/src/main/cpp/third_party/soundtouch
	url = https://gitee.com/longfeng20/third_party_binary.git
[submodule "ijkplayer/src/main/cpp/third_party/yuv"]
	path = ijkplayer/src/main/cpp/third_party/yuv
	url = https://gitee.com/longfeng20/third_party_binary.git
